
.navbar {
    position: relative;
    top: 0;
    width: 100%;
    background: rgb(52, 34, 214);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 1rem 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-logo img {
    margin-top: -15px;
    width: 100px;
    height: 100px;
    border-radius:80%;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.nav-item a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-item a:hover {
    color: rgb(0, 255, 98);
}